@charset "UTF-8";
/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
​
​
​
*,
*::before,
*::after {
  box-sizing: border-box;
}

​
​
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

​
​
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

​
​
​
body {
  margin: 0;
}

​
​
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

​
​
​
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

​
​
​
abbr[title] {
  text-decoration: underline dotted;
}

​
​
b,
strong {
  font-weight: bolder;
}

​
​
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

​
​
small {
  font-size: 80%;
}

​
​
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

​
sub {
  bottom: -0.25em;
}

​
sup {
  top: -0.5em;
}

​
​
​
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

​
​
​
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

​
​
button,
select {
  /* 1 */
  text-transform: none;
}

​
​
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

​
​
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

​
​
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

​
​
:-moz-ui-invalid {
  box-shadow: none;
}

​
​
legend {
  padding: 0;
}

​
​
progress {
  vertical-align: baseline;
}

​
​
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

​
​
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

​
​
::-webkit-search-decoration {
  -webkit-appearance: none;
}

​
​
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

​
​
​
summary {
  display: list-item;
}

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.eot");
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.svg#Roboto") format("svg");
}

/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto/roboto-v20-latin_cyrillic-500.eot");
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/roboto/roboto-v20-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto/roboto-v20-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto/roboto-v20-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-500.svg#Roboto") format("svg");
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto/roboto-v20-latin_cyrillic-700.eot");
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/roboto/roboto-v20-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto/roboto-v20-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto/roboto-v20-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-700.svg#Roboto") format("svg");
}

/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto/roboto-v20-latin_cyrillic-900.eot");
  src: local("Roboto Black"), local("Roboto-Black"), url("../fonts/roboto/roboto-v20-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto/roboto-v20-latin_cyrillic-900.woff") format("woff"), url("../fonts/roboto/roboto-v20-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-900.svg#Roboto") format("svg");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #FFFFFF;
  color: #757575;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  padding: 0;
  margin: 0;
}

.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.address {
  margin-bottom: 9px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1, 71;
}

.mail-phone a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1, 71;
}

.mail {
  display: inline-block;
  padding-bottom: 9px;
}

.tell {
  display: inline-block;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: flex-end;
  width: 528px;
  height: 581px;
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
}

.modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 14px;
  margin-right: 14px;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-btn:hover .modal-btn-svg,
.modal-btn:focus .modal-btn-svg {
  fill: #2196F3;
}

.modal-btn:hover, .modal-btn:focus {
  cursor: pointer;
}

.modal-btn-svg {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form {
  width: 100%;
  padding: 40px;
  margin-right: auto;
  margin-left: auto;
}

.form-p {
  display: inline-block;
  min-width: 450px;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
}

.form-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-field-comment {
  margin-bottom: 20px;
}

.conteiner-form-svg {
  position: relative;
}

.form-svg {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.form-comment {
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input {
  padding: 10px 12px;
  padding-left: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:-webkit-autofill, .form-input:-webkit-autofill:hover, .form-input:-webkit-autofill:focus {
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.form-input:focus ~ .form-svg {
  fill: #2196F3;
}

.form-input:focus,
.form-comment:focus {
  outline: none;
  border-color: #2196F3;
  cursor: pointer;
  color: black;
}

.form-agreement {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.agreement-label {
  padding-left: 30px;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.contract {
  color: #2196F3;
  text-decoration: underline;
}

.checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
}

.checkbox:checked + .check-icon {
  border-color: #2196F3;
  background-color: #2196F3;
  background-image: url(../images/icon/check-active.svg);
  background-size: contain;
  background-origin: border-box;
}

.check-icon {
  position: absolute;
  display: flex;
  margin-left: -20px;
  transform: translateY(-130%);
  width: 15px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  background-image: url(../images/icon/check-active.svg);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-subscription {
  display: flex;
}

.subscription-field {
  margin-right: 12px;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 15px;
  width: 358px;
  font-size: 16px;
  line-height: 1.25;
  background-color: transparent;
  color: #FFFFFF;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscription-field:-webkit-autofill, .subscription-field:-webkit-autofill:hover, .subscription-field:-webkit-autofill:focus {
  -webkit-text-fill-color: #FFFFFF;
  -webkit-box-shadow: 0 0 0px 1000px #2F303A inset;
}

.subscription-field::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.hero-btn {
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 200px;
  color: #FFFFFF;
  background-color: #2196F3;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.subscription-btn {
  display: flex;
  padding: 10px 30px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: #2196F3;
  border: none;
  color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription-btn-svg {
  margin-left: 10px;
}

.form-btn {
  display: block;
  padding: 10px 55px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: #2196F3;
  color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.btn-conteiner {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
  margin-bottom: 34px;
}

.btn-group {
  display: flex;
  justify-content: center;
}

.btn-group button {
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border: none;
  color: #212121;
  background-color: #F5F4FA;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-group button:hover {
  color: #FFFFFF;
  background-color: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-group button:focus {
  color: #FFFFFF;
  background-color: #2196F3;
  outline: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-item:nth-child(-n + 4) {
  margin-right: 8px;
}

.logo {
  margin-top: 24px;
  margin-right: 93px;
  margin-bottom: 25px;
  color: #212121;
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover {
  color: #2196F3;
}

.logo-part {
  color: #2196F3;
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  padding-top: 32px;
}

.site-nav .item {
  margin-right: 50px;
}

.site-nav .item:last-child {
  margin-right: 0;
}

.site-nav a.current:visited {
  color: #2196F3;
}

.site-nav a,
.auth-nav a {
  color: #212121;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav a:hover,
.site-nav a:focus,
.auth-nav a:hover,
.auth-nav a:focus {
  color: #2196F3;
}

a.current::after {
  content: "";
  display: block;
  width: 100%;
  margin-top: 28px;
  height: 4px;
  border-radius: 2px;
  color: #2196F3;
  background-color: #2196F3;
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .item {
  margin-right: 50px;
}

.auth-nav .item + .item {
  margin-right: 50px;
}

.contacts a {
  color: #757575;
}

.link-nav {
  display: flex;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-nav:hover .svg-nav,
.link-nav:focus .svg-nav {
  fill: #2196F3;
}

.svg-nav {
  margin-right: 10px;
  fill: #757575;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section-link {
  display: block;
}

.section-link:hover .text-overlay,
.section-link:hover .thumb::before,
.section-link:focus .text-overlay,
.section-link:focus .thumb::before {
  transform: translateY(0);
  background-color: rgba(33, 150, 243, 0.9);
}

.section-item {
  flex-basis: calc((100% - 60px) / 3);
  border: 1px solid #eeeeee;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.section-item:not(:nth-child(-n + 3)) {
  margin-top: 30px;
}

.section-item:hover, .section-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero {
  height: 600px;
  max-width: 1600px;
  margin-bottom: 94px;
  margin-right: auto;
  margin-left: auto;
  background-color: #2F303A;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.hero .hero-title {
  max-width: 700px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  padding-top: 200px;
  color: #FFFFFF;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.benefits-list {
  margin: 0;
  padding: 0;
}

.benefits-set {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -94px;
}

.list-p {
  margin-right: 30px;
  flex-basis: calc(100% /4 - 30px);
  margin-right: 30px;
}

.list-p:last-child {
  margin-right: 0;
}

.icon::before {
  content: "";
  display: block;
  margin-bottom: 30px;
  padding: 25px 100px;
  height: 120px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F4FA;
  border-radius: 4px;
}

.section-title {
  margin: 0;
  padding-bottom: 10px;
  color: #212121;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.section-text {
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
}

.icon-group::before {
  background-image: url(../images/icon/group.svg);
}

.icon-clock::before {
  background-image: url(../images/icon/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/icon/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/icon/astronaut.svg);
}

.benefits-list {
  margin: 0;
  padding: 0;
}

.title-employment {
  margin: 0;
  padding-top: 94px;
  padding-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: #212121;
}

.img-list {
  margin-bottom: 94px;
  display: flex;
}

.item-employment {
  position: relative;
  margin-right: 30px;
}

.label {
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.8);
}

.command {
  width: auto;
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
  background-color: #F5F4FA;
}

.title-employment {
  margin: 0;
  padding-top: 94px;
  padding-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: #212121;
}

.employment-list {
  display: flex;
  justify-content: center;
}

.card-command {
  margin-bottom: 94px;
  max-width: 270px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background: #FFFFFF;
}

.list-p {
  margin-right: 30px;
  flex-basis: calc(100% /4 - 30px);
}

.list-p:last-child {
  margin-right: 0;
}

.section-img {
  padding-bottom: 30px;
}

.name {
  display: flex;
  margin: 0;
  padding-bottom: 10px;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: #212121;
}

.position {
  display: flex;
  justify-content: center;
  padding-bottom: 16px;
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
}

.conteiner-icon {
  display: flex;
  justify-content: space-around;
  margin-right: 32px;
  margin-bottom: 30px;
  margin-left: 32px;
}

.svg-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  width: 44px;
  height: 44px;
  cursor: pointer;
  fill: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-link:hover, .svg-link:focus {
  background-color: #2196F3;
  fill: #FFFFFF;
  border-radius: 50%;
}

.title-clients {
  padding-top: 86px;
  padding-bottom: 50px;
  margin: 0;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: #212121;
}

.employment-list {
  display: flex;
}

.link-clients {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  flex-basis: calc(100% / 6 - 30px);
  margin-right: 30px;
  margin-bottom: 94px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-clients:hover, .link-clients:focus {
  border-color: #2196F3;
}

.link-clients:hover .icon-clients,
.link-clients:focus .icon-clients {
  fill: #2196F3;
}

.clients-svg:last-child {
  margin-right: 0;
}

.icon-clients {
  fill: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

footer {
  background-color: #2F303A;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 0;
  margin-right: 93px;
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: #FFFFFF;
}

.footer-conteiner {
  display: flex;
  align-items: baseline;
  width: 1200px;
  padding: 60px 15px;
  margin: auto;
}

.link-list {
  display: flex;
  justify-content: space-around;
}

.link-list .footer-item {
  margin-right: 10px;
}

.link-list .footer-item:last-child {
  margin-right: 0;
}

.social-links {
  margin-left: 70px;
  margin-right: 93px;
}

.footer-title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #FFFFFF;
  border-radius: 50%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover, .footer-link:focus {
  background-color: #2196F3;
}
/*# sourceMappingURL=main.css.map */