.hero-btn {
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 200px;

  color: $white-color;
  background-color: $accent-color;
  
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.subscription-btn {
  display: flex;
  padding: 10px 30px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;

  background-color: $accent-color;
  border: none;
  color: $white-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription-btn-svg {
    margin-left: 10px;
}

.form-btn {
  display: block;
  padding: 10px 55px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
    
  background-color: $accent-color;
  color: $white-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.btn-conteiner {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
  margin-bottom: 34px;
}

.btn-group {
  display: flex;
  justify-content: center;

  button {
    border-radius: 4px;
    padding: 6px 22px;
    min-width: 73px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    border: none;

    color: $title-text-color;
    background-color: $secondary-accent;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  button:hover {
    color: $white-color;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  }

  button:focus {
    color: $white-color;
    background-color: $accent-color;
    outline: none;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.btn-item:nth-child(-n + 4) {
  margin-right: 8px;
}





