.address {
    margin-bottom: 9px;
  
    color: $white-color;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1, 71;
  }
  
  .mail-phone a {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1, 71;
  }
  
  .mail {
    display: inline-block;
    padding-bottom: 9px;
  }
  
  .tell {
    display: inline-block;
  }
  
  

