.form {
    width: 100%;
    padding: 40px;
    margin-right: auto;
    margin-left: auto;
}

.form-p {
    display: inline-block;
    min-width: 450px;
    margin-bottom: 12px;
    

    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: $title-text-color;
}

.form-label {
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: $primary-text-color
}

.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-field-comment {
    margin-bottom: 20px;
}

.conteiner-form-svg {
    position: relative;
}

.form-svg {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
} 

.form-comment {
    padding: 12px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    resize: none;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input {
    padding: 10px 12px;
    padding-left: 40px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:-webkit-autofill,
    &:-webkit-autofill:hover, 
    &:-webkit-autofill:focus {
        -webkit-text-fill-color: rgba(0, 0, 0, 1);
        -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 1) inset;
    }

    &:focus ~ .form-svg {
        fill: $accent-color;
    }
}

.form-input:focus,
.form-comment:focus {
    outline: none;
    border-color: $accent-color;
    cursor: pointer;
    color: rgba(0, 0, 0, 1);
}

.form-agreement {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.agreement-label {
    padding-left: 30px;
    font-size: 14px;
    line-height: 1.71;

    color: $primary-text-color;
}

.contract {
    color: $accent-color;
    text-decoration: underline;
}

.checkbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;

    &:checked + .check-icon {
        border-color: $accent-color;
        background-color: $accent-color;
        background-image: url(../images/icon/check-active.svg);
        background-size: contain;
        background-origin: border-box;
    }
}

.check-icon {
    position: absolute;
    display: flex; 
    margin-left: -20px;
    transform: translateY(-130%);

    width: 15px;
    height: 15px;
    border: 2px solid $title-text-color;
    border-radius: 2px;
    background-image: url(../images/icon/check-active.svg);

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} 

.form-subscription {
    display: flex;

}

.subscription-field {
    margin-right: 12px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
    width: 358px;
    font-size: 16px;
    line-height: 1.25;
    background-color: transparent;
    color: $white-color;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;


    &:-webkit-autofill,
    &:-webkit-autofill:hover, 
    &:-webkit-autofill:focus {
        -webkit-text-fill-color: $white-color;
        -webkit-box-shadow: 0 0 0px 1000px $secondary-bgc inset;
    }

    &::placeholder {
        color: rgba(255, 255, 255, 0.6);
    }
}