$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196F3;
$secondary-accent: #F5F4FA;
$white-color: #FFFFFF;
$secondary-bgc: #2F303A;
$border-line: rgba(238, 238, 238, 1);
$comand-icon: rgba(175, 177, 184, 1);



