.benefits-list{
    margin: 0;
    padding: 0;
  }
  
.benefits-set {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -94px;
}

.list-p {
    margin-right: 30px;
    flex-basis: calc(100% /4 - 30px);
    margin-right: 30px;
 
 
 &:last-child {
     margin-right: 0;
 }
}

.icon::before {
    content: "";
    display: block;
    margin-bottom: 30px;
    padding: 25px 100px;
    height: 120px;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $secondary-accent;
    border-radius: 4px;
}

.section-title {
    margin: 0;
    padding-bottom: 10px;
       
    color: $title-text-color;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.section-text {
    margin: 0;
      
    font-size: 14px;
    line-height: 1.71;
} 
   
.icon-group::before {
    background-image: url(../images/icon/group.svg);
}
    
.icon-clock::before {
    background-image: url(../images/icon/clock.svg);
}
    
.icon-diagram::before {
    background-image: url(../images/icon/diagram.svg);
}

.icon-astronaut::before {
    background-image: url(../images/icon/astronaut.svg);
}

