.conteiner-benefits {
    @include for-size(mobile) {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        margin: auto;
        margin-bottom: 60px;
    }
    
    @include for-size(desktop) {
        width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
        margin: auto;
        margin-bottom: 94px;
    }
}

.benefits-set {
    @include for-size(tablet) {
        display: flex;
        flex-wrap: wrap;
    }

    @include for-size(desktop) {
        // display: flex;
        // flex-wrap: wrap;
        // margin-right: -30px;
        // margin-bottom: -94px;
    }
}

.list-p {
    @include for-size(mobile) {
        margin-bottom: 30px; 
    }

    @include for-size(tablet) {
        flex-basis: calc((100% - 30px)/2);
        margin-right: 30px; 
        margin-bottom: 30px; 
    }

    &:nth-last-child(-n + 2) {
        @include for-size(tablet) {
            margin-bottom: 0;
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        &:nth-child(2n) {
            margin-right: 0;
        }
      }
 
    @include for-size(desktop) {
        margin-right: 30px;
        flex-basis: calc((100% - 30px * 3)/4);
        margin-bottom: 0;
    }

    &:last-child {
        @include for-size(desktop) {
            margin-right: 0;
        }  
    }

    // &:nth-child(2n) {
    //     margin-right: 30px; 
    // }
}

.icon::before {
    content: "";
    display: block;
    margin-bottom: 30px;
    padding: 25px 100px;
    height: 120px;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $secondary-accent;
    border-radius: 4px;
}

.section-title {
    margin: 0;
    padding-bottom: 10px;
       
    color: $title-text-color;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    @include for-size(mobile) {
        text-align: center;
    }

    @include for-size(tablet) {
        text-align: start;
    }

}
  
.section-text {
    margin: 0;
      
    font-size: 14px;
    line-height: 1.71;
} 
   
.icon-group::before {
    background-image: url(../images/icon/group.svg);
}
    
.icon-clock::before {
    background-image: url(../images/icon/clock.svg);
}
    
.icon-diagram::before {
    background-image: url(../images/icon/diagram.svg);
}

.icon-astronaut::before {
    background-image: url(../images/icon/astronaut.svg);
}

