.command {
  width: auto;
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
  
  background-color: $secondary-accent;
}
  
.title-employment {
  margin: 0;
  padding-top: 94px;
  padding-bottom: 50px;
    
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  color: $title-text-color;
}

.employment-list {
  display: flex;
  justify-content: center;
}

.card-command {
  margin-bottom: 94px;
  max-width: 270px;
     
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  background: $white-color;
}

.list-p {
  margin-right: 30px;
  flex-basis: calc(100% /4 - 30px);
 
  &:last-child {
    margin-right: 0;
  }
}

.section-img {
  padding-bottom: 30px;
}

.name {
  display: flex;
  margin: 0;
  padding-bottom: 10px;
  justify-content: center;
  
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;

  color: $title-text-color;
}

.position {
  display: flex;
  justify-content: center;
  padding-bottom: 16px;
  margin: 0;
  
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
}

.conteiner-icon {
  display: flex;
  justify-content: space-around;
  margin-right: 32px;
  margin-bottom: 30px;
  margin-left: 32px;
}

.svg-link {
  display: inline-flex;
  align-items: center;
  justify-content: center; 
  padding: 12px;
  width: 44px;
  height: 44px;

  cursor: pointer;
  fill: $comand-icon;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


  &:hover, 
  &:focus {
    background-color: $accent-color;
    fill: $white-color;
    border-radius: 50%;
  }
}