footer {
    background-color: $secondary-bgc;
}

.footer-contacts {
    @include for-size(mobile-only) {
        margin-bottom: 60px;
        text-align: center;
    }

    @include for-size(tablet) {
        margin-right: 165px;
        text-align: center;
    }

    @include for-size(desktop) {
        margin-right: 70px;
        text-align: start;
    }
}

.footer-logo {
    color: $white-color;

    @include for-size(mobile-only) {
        display: block;
        margin-bottom: 20px;
        padding-top: 60px;

        font-family: Raleway;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 1.17; 
    }

    @include for-size(tablet) {
        display: block;
        margin-bottom: 20px;

        font-family: Raleway;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 1.17; 
    }

    @include for-size(desktop) {
        display: inline-block;
    
        margin-right: 0;  
        margin-right: 93px;
        padding-top: 0;
        text-decoration: none;
        
        font-size: 26px;
        line-height: 1.19; 
    }
}

.footer-conteiner {
    @include for-size(desktop) {
       display: flex;
       align-items: baseline;
       width: 1200px;
       padding: 60px 15px; 
       margin: 0;
       margin-right: auto;
       margin-left: auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .footer-conteiner {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        flex-wrap: wrap;
        padding-bottom: 60px;
    }
}

.link-list {
    display: flex;

    @include for-size(mobile-only) {
        justify-content: center;
        margin-bottom: 60px;
    }

    @include for-size(desktop) {
        flex-wrap: nowrap;
    }

    .footer-item {
        margin-right: 10px;
    
        &:last-child {
            margin-right: 0;
        }
    }
}

.social-links {
    @include for-size (mobile-only) {
        text-align: center;
    }

    @include for-size(desktop){
        padding-top: 12px;
    }
}

.footer-tablet {
    @include for-size(desktop) {
        display: flex;
        justify-content: center;
        margin-right: 93px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .footer-tablet {
        display: flex;
        justify-content: center;
        margin-bottom: 60px;
        margin-top: 60px;
    }
}

.footer-title {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $white-color;

    @include for-size(mobile-only) {
        text-align: center;
    }

    @include for-size(tablet) {
        text-align: center;
    }

    @include for-size(desktop) {
        padding-top: 0;
        text-align: start;
    }
    
}

.footer-link {
    display: inline-flex;
    align-items: center;
    justify-content: center; 
    padding: 12px;
    width: 44px;
    height: 44px;
    
    background-color: rgba(255, 255, 255, 0.1);
    fill: $white-color;
    border-radius: 50%;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


    &:hover,
    &:focus {
        background-color: $accent-color;
    }
}



