.header {
    border-bottom: 1px solid  rgba(236, 236, 236, 1);
    margin-bottom: 94px;
}

.logo {
    color: $title-text-color;
    text-decoration: none;
    font-family: Raleway;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @include for-size(mobile-only) {
        font-weight: bold;
        margin-right: 88px;
        font-size: 24px;
        line-height: 1.17;
    }

    @include for-size(tablet) {
        font-weight: bold;
        margin-right: 88px;
        font-size: 24px;
        line-height: 1.17;
    }

    @include for-size(desktop) {
        margin-top: 24px;
        margin-right: 93px;
        margin-bottom: 25px;

        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 1.19;
    }

    &:hover {
        color: $accent-color;
    }
}

.logo-part {
    color: $accent-color;
}

.main-nav {
    display: flex;
    align-items: center;

    @include for-size(mobile-only) {
        justify-content: space-between;
        flex-grow: 1;
    }
}

.site-nav {
    display: flex;
    padding-top: 32px;

    @include for-size(mobile-only) {
        display: none;
    }

    @include for-size(tablet) {
        margin-right: 84px;
    }

    .item:not(:last-child) {
        margin-right: 50px;
    }

    a.current:visited {
        color: $accent-color;
    }
}

.site-nav a,
.auth-nav a {
    color: $title-text-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @include for-size(tablet) {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;    
    } 

    @include for-size(desktop) {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;    
    }  
}

.site-nav a:hover, 
.site-nav a:focus,
.auth-nav a:hover, 
.auth-nav a:focus {
    color: $accent-color;
}

a.current::after {
    content: "";
    display: block;
    width: 100%;
    margin-top: 28px;
    height: 4px;
    border-radius: 2px;
    color: $accent-color;
    background-color: $accent-color;
} 

.auth-nav {
    @include for-size(mobile-only) {
        display: none;
    }

    @include for-size(tablet) {
        display: block;
    }

    @include for-size(desktop) {
        display: flex;
        margin-left: auto;
    }


    .item {
        @include for-size(tablet) {
            margin-right: 0;
        }

        @include for-size(desktop) {
            margin-right: 30px;
        }
    }

    .item:nth-child(1) {
        @include for-size(tablet) {
            margin-bottom: 10px;
        }
    }

    .item:nth-child(1) {
        @include for-size(desktop) {
            margin-bottom: 0;
        }
    }
}

.contacts a {
    color: $primary-text-color;

    @include for-size(tablet) {
        font-weight: 500;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.02em;
    }

    @include for-size(desktop) {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;    
    }  
}

.link-nav {
    display: flex;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover .svg-nav,
    &:focus .svg-nav {
        fill: $accent-color;
    }
}

.svg-nav {
    fill: $primary-text-color;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @include for-size(mobile-only) {
        margin-right: 10px;
    }

    @include for-size(tablet) {
        margin-right: 8px;
    }

    @include for-size(desktop) {
        margin-right: 10px;
    }
}

.envelope {
    @include for-size(tablet) {
        width: 14px;
        height: 10px;
    }

    @include for-size(desktop) {
        width: 16px;
        height: 12px;
    }
}

.phone {
    @include for-size(tablet) {
        width: 10px;
        height: 14px;
    } 

    @include for-size(tablet) {
        width: 10px;
        height: 16px;
    } 
}

.mobile-menu {
    position: absolute;
    left: 0;
    right: 0;
    padding: 60px;
    width: auto;
    background-color: $white-color;
    
    border-top: 1px solid  rgba(236, 236, 236, 1);
    
    @include for-size(tablet) {
        display: none;
    }
    
    &.is-open {
        @include for-size(mobile-only) {
            display: block;  
            z-index: 150;
        }
    }
}

.mobile-menu-list {
    text-align: center;
    margin-bottom: 60px;
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;  
}

.mobile-menu-item a {
    color: $title-text-color;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.02em;
}

.current {
    display: inline-block;
}

a.current:visited {
    color: $accent-color;
}

.mobile-menu-item .current::after {
    @include for-size(mobile-only) {
        content: "";
        width: 100%;
        margin-top: 8px; 
        height: 4px;
        border-radius: 2px;
        color: $accent-color;
        background-color: $accent-color;
    }
}

.mobile-auth-nav {
text-align: center;
}

.mobile-link-nav {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.02em;
}

.menu-item:nth-child(1) {
    margin-bottom: 16px;
}