.hero {
    height: 600px;
    max-width: 1600px; 
    margin-bottom: 94px;
    margin-right: auto;
    margin-left: auto;
    
    background-color: $secondary-bgc;
    background-image: linear-gradient(to right,  rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
    url(../images/bg-hero1.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

 .hero-title {
    max-width: 700px;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    padding-top: 200px;
    
    color: $white-color;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
 }
}
