.invisible {
    display: none;
    margin: 0;
  }

  .benefits-list{
    margin: 0;
    padding: 0;
}

.card-set {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 94px;
  }

  .section-item {
    flex-basis: calc((100% - 60px) / 3);
    border: 1px solid $border-line;
  
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .section-item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  
  .section-item:not(:nth-child(-n + 3)) {
    margin-top: 30px;
  }
  
  .section-item:hover,
  .section-item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .section-link {
    display: block;
  }

 .section-link:hover .text-overlay,
 .section-link:hover .thumb::before,
 .section-link:focus .text-overlay,
 .section-link:focus .thumb::before {
  transform: translateY(0);
  background-color: rgba(33, 150, 243, 0.9);
}

  .thumb {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  .thumb::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
  
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding: 63px 24px;
  
    width: 100%;
  
    font-size: 18px;
    line-height: 1.56;
  
    color: $white-color;
    transform: translateY(100%);
  
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .capabilities {
    padding: 0px 20px 24px;
  }
  
  .title-capabilities {
    padding-bottom: 4px;
  
    color: $title-text-color;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }
  
  .type-capabilities {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.87;
  
    color: $primary-text-color;
  }